@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #407893;
  padding: 50px;
  display: flex;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
